<h1>All Episodes</h1>

<%# <%= paginate @episodes %1> %>

<% @episodes.each do |episode| %>
    <%= link_to episode.title, episode_path(episode) %>
    <% if episode.description.length > 60 %>
        <p>
            <%= episode.description.truncate(60) %>
        </p>
    <% else %>
        <p>
            <%= episode.description %>
        </p>
    <% end %>
    <hr>

<% end %>
<%# <%= paginate @episodes %1> %>
