<div class="container">
		<div class="row">
			<div class="col-md-2 no-padding" id="logo-div">
				<a href="/">
					<%= image_tag 'logo_tall', class: 'nav-logo logo-tall' %>
					<%= image_tag 'logo_wide', class: 'nav-logo logo-wide' %>
				</a>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12 no-padding social-bar" id="social-div">
 				   		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitch" aria-hidden="true"></i></a>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-12 no-padding">
						<nav class="navbar navbar-default">
  	  	  	  	  	  	  <div class="container-fluid">
    						<div class="navbar-header">
      	  	  	  	  	  	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        						<span class="sr-only">Toggle navigation</span>
        						<span class="icon-bar"></span>
        						<span class="icon-bar"></span>
        						<span class="icon-bar"></span>
      	  	  	  	  	  	  </button>
    						</div>

    						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	  	  	  	  	  	  <ul class="nav navbar-nav">
        						<!-- <li><%#= link_to "Main Page", root_path %></li> -->
      							<li><%= link_to "Episodes", episodes_path %></li>
        						<li><%= link_to "Ladder", "" %></li>
        						<li><%= link_to "Hosts", "" %></li>
        						<li><%= link_to "Store", "" %></li>
        						<% if user_signed_in? && current_user.is_admin %>
          	  	  	  	  	  	  <li><%= link_to "Create Episode", new_episode_path %></li>
        						<% end %>
      	  	  	  	  	  	  </ul>
      	  	  	  	  	  	  <ul class="nav navbar-nav navbar-right">
        						<% if user_signed_in? %>
          							<li><a href="#">Hello, <%= current_user.first_name.capitalize %></a></li>
          	  	  	  	  	  	  <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
        						<% end %>
      	  	  	  	  	  	  </ul>
    						</div>
  	  	  	  	  	  	  </div>
						</nav>
					</div>	
				</div>
			</div>
		</div>

<%# <li><%= link_to "Sign Up", new_user_path %1></li> %>
<%# <li><%= link_to "Sign In", new_session_path %1></li> %>
